.about {

	&__text {
		font-size: rem(18);
		line-height: 1.5;
		margin-bottom: rem(30);

		@include atM {
			font-size: rem(22);
			margin-bottom: rem(70);
		}

		p {
			margin-bottom: rem(20);

			@include atM {
				margin-bottom: rem(40);

			}
		}
	}
}