.catalog {
	&__item {
		margin-bottom: rem(50);

		@include atL {
				margin-bottom: rem(70);
			}

		&-img {
			margin-bottom: rem(10);

			@include atL {
				margin-bottom: 0;
			}
			
			img {
				height: auto;
			}
		}

		&-title {
			margin-bottom: rem(10);
			font-size: rem(28);

			@include atL {
				margin-bottom: rem(30);
			}
		}

		&-desc{
			font-size: rem(16);
			margin-bottom: rem(10);
			line-height: 1.5;

			@include atL {
				font-size: rem(18);
				margin-bottom: rem(40);
			}

			a {
				font-weight: 600;
				letter-spacing: rem(.8);
				position: relative;
				transition: all .5s;

				&:after {
					content: "";
					width: 100%;
					height: 1px;
					position: absolute;
					left: 0;
					bottom: -1px;
					background: #000;
				}

				&:hover {
					&:after {
					}
				}
				
			}
		}

		&-button {
			width: 100%;
			text-align: center;

			@include atS {
				width: auto;
				margin-bottom: rem(20);
			}
		}

		.row {

			@include atS {
				align-items: center;
				margin: 0 -30px;
			}
		}

		.col {

			@include atS {
				padding: 0 30px;
			}	
		}
	}
	
}