.catalog {
	&__item {
		margin-bottom: rem(70);

		&-img {
			padding-right: rem(15);
		}

		&-title {
			margin-bottom: rem(30);
			font-size: rem(28);
		}

		&-desc{
			font-size: rem(18);
			margin-bottom: rem(40);
			line-height: 1.5;
		}

		&-button {
			margin-bottom: rem(20);
		}

		.row {
			align-items: center;
			margin: 0 -30px;
		}

		.col {
			padding: 0 30px;
		}
	}
	
}