.slider {
	padding: 0;

	&__img {
		position: relative;
		height: 500px;
		height: calc(100vh - 207px);
		overflow: hidden;

		@include atM {
			height: auto;
		}

		img {
			position: absolute;
			max-width: 10000px;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 100%;
			width: auto;

			@include atM {
				height: auto;
				width: 100%;
				position: static;
				transform: none;
			}
		}
	}
}