html {
  height: 100%;
}

body {
  font-family: $mainFont;
  margin: 0;
  padding: 0;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; 
}

a {
  text-decoration: none;
  color: #000;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

