// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Window Width
$largeDesktop            : 1440px;
$desktop                 : 1200px;
$smallDesktop            : 992px;
$tablet                  : 768px;
$phone                   : 576px;

// Colors
$grey                    : #181229;